<link rel="icon" href="{{ '/images/favicon.ico' | relative_url }}" sizes="any">
<link rel="mask-icon" href="{{ '/images/safari-pinned-tab.svg' | relative_url }}" color="#1769aa">
<link rel="manifest" href="{{ '/images/manifest.json' | relative_url }}">
<meta name="msapplication-TileColor" content="#fcfcfb">
<meta name="msapplication-TileImage" content="{{ '/images/mstile-144x144.png' | relative_url }}">

{% if page.mathjax %}
  <script src="https://cdnjs.cloudflare.com/polyfill/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endif %}
