<!-- _includes/education.html -->
<style>
    .education {
      display: flex;
      flex-direction: column;
    }
    .education-item {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }
    .education-item img {
      margin-right: 20px;
    }
    .education-item h4 {
      margin: 0;
    }
    .education-item p {
      margin: 0;
    }
  </style>
  
  <div class="education">
    <div class="education-item">
      <img src="{{ '../images/NJU.png' }}" alt="Nanjing University" style="height: 50px;">
      <div>
        <p>Nanjing University</p>
        <p><h4>2021 ~ 2025 (expected)</h4></p>
        <p><h4>BE in Software Engineering</h4></p>
      </div>
    </div>
  </div>
  